body {
    font-family: Arial, sans-serif;
    background-color: #212121;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  canvas {
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  #controls {
    margin-bottom: 20px;
  }
  
  #result, #score {
    font-size: 1.5rem;
  }

  #predict-up {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  #predict-up:hover {
    background-color: #45a049;
  }

  #predict-down {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #cc2121;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  #predict-down:hover {
    background-color: #b81b1b;
  }
  